{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
__PACKAGES=(
    fail2ban
    apt-listchanges
    unattended-upgrades
    tmux
    vim
    htop
    ripgrep
    fzf
    bat
    exa
)
sudo apt install -y ${__PACKAGES[@]}
{{ end -}}
