{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
__PACKAGES=(
  apt-listchanges
  bat
  exa
  fail2ban
  fzf
  git
  htop
  jq
  ripgrep
  tmux
  unattended-upgrades
  vim
)
sudo apt install -y ${__PACKAGES[@]}
{{ end -}}
