{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
sudo apt install -y \
  apt-listchanges \
  bat \
  exa \
  fail2ban \
  fzf \
  git \
  htop \
  jq \
  ripgrep \
  tmux \
  unattended-upgrades \
  vim \
  xsel \
{{ else if eq .chezmoi.os "darwin" -}}
brew install \
  reattach-to-user-namespace \
{{ end -}}
