{{ if eq .chezmoi.os "linux" "darwin" -}}
#!/bin/bash
nix-env --install --attr \
  nixpkgs.bat \
  nixpkgs.delta \
  nixpkgs.eza \
  nixpkgs.fail2ban \
  nixpkgs.fd \
  nixpkgs.fzf \
  nixpkgs.git \
  nixpkgs.htop \
  nixpkgs.jq \
  nixpkgs.neovim \
  nixpkgs.ripgrep \
  nixpkgs.tmux \
{{ if eq .chezmoi.os "linux" -}}
  nixpkgs.xsel \
{{ else if eq .chezmoi.os "darwin" -}}
  nixpkgs.reattach-to-user-namespace \
{{ end }}
{{ end -}}
