export PATH="$HOME/.local/bin:$PATH"

# Enable fzf
{{ if eq .chezmoi.os "linux" -}}
source /usr/share/doc/fzf/examples/key-bindings.zsh
{{ else if eq .chezmoi.os "darwin" -}}
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
{{ end }}

{{ if eq .chezmoi.os "linux" -}}
# Enable homebrew
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ else if eq .chezmoi.os "darwin" -}}
# Enable homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end }}

# Load completions
autoload -U compinit; compinit

# Enable zsh theme
eval "$(starship init zsh)"

# Load plugins
for file in $HOME/.config/zsh/plugins/*/*plugin.zsh; do
  source "$file"
done

# Prevent zsh from automatically expanding these aliases
GLOBALIAS_FILTER_VALUES=(grep)

# Load aliases
for file in $HOME/.config/zsh/aliases/*; do
  source "$file"
done
