# Global aliases
alias -g G='| grep'
alias -g L='| less' 

{{ if lookPath "batcat" -}}
# The bat pager is available!
# https://github.com/sharkdp/bat
alias bat='batcat'
alias -g B='| bat'
GLOBALIAS_FILTER_VALUES+=(bat)
export BAT_THEME='TwoDark'
export MANPAGER="sh -c 'col -bx | batcat -l man -p'"
{{ end }}

# File listings
{{ if lookPath "exa" -}}
# The exa file cataloger is available!
# https://github.com/ogham/exa
alias ls='exa --icons --color-scale --group-directories-first'
alias ll='ls --all --long'
alias lls='ll --sort size'
alias llss='lls --reverse'
alias l='exa -1 --group-directories-first'
alias tree='exa --tree --icons'
GLOBALIAS_FILTER_VALUES+=(tree)
{{ else -}}
# No fancy file cataloger available
# Setting up basic aliases
alias l='ls -1'
alias ll='ls -lAh'
alias lls='ll -S'
alias llss='lls -r'
{{ end }}
GLOBALIAS_FILTER_VALUES+=(l ll lls llss)
