# Global aliases
alias -g G='| grep'
alias -g L='| less' 

{{ if lookPath "nvim" -}}
# NeoVim is available!
alias vim='nvim'
alias v='vim'
GLOBALIAS_FILTER_VALUES+=(nvim)
{{ end -}}

{{ if lookPath "batcat" -}}
# The bat pager is available!
# https://github.com/sharkdp/bat
alias bat='batcat'
alias -g B='| bat'
GLOBALIAS_FILTER_VALUES+=(bat)
export BAT_THEME='TwoDark'
export MANPAGER="sh -c 'col -bx | batcat -l man -p'"
{{ end -}}

# File listings
{{ if lookPath "eza" -}}
# The eza file cataloger is available!
# https://github.com/eza-community/eza
alias ls='eza --icons --color-scale --group-directories-first'
alias ll='ls --all --long'
alias lls='ll --sort size'
alias llss='lls --reverse'
alias l='eza -1 --group-directories-first'
alias tree='eza --tree --icons'
GLOBALIAS_FILTER_VALUES+=(ls ll lls llss l tree)
{{ else -}}
# No fancy file cataloger available
# Setting up basic aliases
alias l='ls -1'
alias ll='ls -lAh'
alias lls='ll -S'
alias llss='lls -r'
GLOBALIAS_FILTER_VALUES+=(l ll lls llss)
{{ end }}
